<%= form_for [@semester, @thesis] do |f| %>

  <div class="form-inputs">
     <%= f.label :title %>
    <%= f.text_field :title %>  
     <%= f.label :description %>  
    <%= f.text_field :description %>
     <%= f.label :abstract %>
    <%= f.text_field :abstract %>
     <%= f.label :year %>
    <%= f.text_field :year %>
     <%= f.label :bibliography %>
    <%= f.text_field :bibliography %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
