<h4> Open Source topics!</h4>
<br/>
<%= link_to 'Register you topic', new_event_path %>
<br/>
<br/>
<div class="span8">
<table class="table table-striped table-bordered table-condensed">
<thead>
<tr class="success">
    <th>NO</th>
    <th>Name & ID</th>
    <th>Topic</th>
    <th>Protocol</th>
    <th>Date Registered</th>
  </tr>
</thead>
<tbody>
<% counter = 0 %>
<% @events.each do |event| %>
  <tr >
    <td><%= counter = counter + 1 %></td>
    <td><%= event.name %></td>
    <td><%= event.topic %></td>
    <td><%= link_to protocol_label(event), event %></td>
    <td><%= event.created_at.strftime("%Y-%m-%d %H:%M") %></td>    
    <% if user_signed_in? %> 
    <% if current_user.has_role? :admin %>
       <td><%= link_to 'Edit', edit_event_path(event) %></td>
       <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% end %>

  </tr>
<% end %>
</tbody>
</table>
</div>
<br />

