<h1>Listing courses</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.title %></td>
    <td><%= course.description %></td>
    <td><%= course.course_type %></td>
    <td><%= link_to 'Show', "courses/#{course.id}" %></td>
    <td><%= link_to 'Edit', "courses/#{course.id}/edit" %></td>
    <td><%= link_to 'Delete', [@semester, course], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


